
@font-face {
  font-family: 'AllisonScript-Regular';
  src: url('AllisonScript-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AllisonScript-Regular';
  src:  url('http://github.com/maits18/fonts/blob/master/AllisonScript-Regular/AllisonScript-Regular.otf')  format('opentype'),
	     url('http://github.com/maits18/fonts/blob/master/AllisonScript-Regular/AllisonScript-Regular.woff') format('woff'), 
	     url('http://github.com/maits18/fonts/blob/master/AllisonScript-Regular/AllisonScript-Regular.ttf')  format('truetype'), 
	     url('http://github.com/maits18/fonts/blob/master/AllisonScript-Regular/AllisonScript-Regular.svg#AllisonScript-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


